<div class="page-header">

    <a href="/photos/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i></a>
  </h1>
</div>
<div class= "container">
<div class="row">
  <div class=" col-md-8 col-md-offset-2">
    <%= @photos.each do |photo|  %>
      <div class="panel panel-default ">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/users<%= photo.user_id %>"> <%= photo.caption %></a>
            <small>
              Added  <%= time_ago_in_words(photo.updated_at) %> ago
            </small>
          </h3>
        </div>
          <div class="panel-body">
            <a href="/users/<%=photo.user_id%>">
              <img src="<%= photo.image %>" alt="" class="img-responsive">
            </a>
            <p>
              <a href="/users/<%= photo.user.id %>"><%= photo.user.username %></a>
              <%= photo.caption %>
            </p>
            <ul class="media-list">
              <% photo.comments.each do |comment| %>
                <li class="media">
                <div class="media-body">
                  <h6 class="media-heading">
                    <a href="/users/<%= comment.user_id %>"><%= comment.user.username %></a>
                    <small>
                    <%= time_ago_in_words(comment.updated_at) %></small>
                  </h6>
                  <%= comment.body %>

                </div></li>
              <% end %>
            </ul>
            <!-- if current user likes photo, show delete button -->
            <% if photo.likes.detect { |l| l.user_id == current_user.id} %>
            <p>
              <a href="/delete_like/<%= photo.id %>" class="btn btn-link">
              <i class= "fa fa-heart"></i></a>
              <% photo.likes.each do |like| %>
              <a href="/users/<%= like.user.id %>"<%= like.user.username %>></a>
              <% end %>
              liked this

            </p>
            <% else %>
            <p>
            <form action="/create_like" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="photo_id" value="<%= photo.id %>">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <button class="btn btn-link">
              <i class="fa fa-heart-o"></i></button>
              <% photo.likes.each do |like| %>
              <a href="/users/<%= like.user.id %>"><%= like.user.username %></a>
              <% end %>
              liked this
            </form>
          </p>
          <% end %>

          <ul class="media-list">
            <% photo.comments.each do |comment| %>
            <li class="media">
              <div class="media-body">
                <h6 class="media-heading">
                <a href="/users/<%= comment.user_id %>"><%= comment.user.username %></a>
                <small><%= time_ago_in_words(comment.updated_at) %></small>
              </h6>
                <%= comment.body %>
              </div>
            </li>
            <% end %>
          </ul>
          <li class="media">
          <div class="media-body">
            <form action="/create_comment" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="photo_id" value="<%= photo.id %>">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <div class="form-group">
                <label for="body" class="sr-only">
                Body</label>

                <div class="input-group">
                  <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>
                  <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                  <i class="fa fa-commenting-o"></i>
                </button>
              </span>

                </div>

              </div>

            </form>

          </div></li>

          </form>
            <ul class="media-list">
              <% photo.comments.each do |comment| %>
                <li class="media">
                  <div class="media-body">
                    <h6 class= "media-heading">
                      <a href="/users/<%= comment.user_id %>"><%= comment.user.username %></a>
                      <small>
                      <%= time_ago_in_words(comment.updated_at) %></small>
                    </h6>
                    <%= comment.body %>
                  </div>
                </li>
                <% end %>
            </ul>

            <% if current_user.id == photo.user_id %>
            <a href="/photos/<%= photo.id %>/edit" class= "btn btn-warning">Edit</a>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger">Delete</a>
            <% end %>

</div>
</div>
<% end %>

          </div>
      </div>
    </div>
  </div>
